{% include "./_partials/common.j2" %}

{% from "macros.j2" import render_item %}

{% block style %}
{% include "./_partials/style.j2" %}
{% endblock %}

{% block body %}
  {% include "./_partials/head.j2" %}
  <div class="body">
    {% include "./_partials/site_info.j2" %}
    <div class="main">
      <div class="inner">
        {% set subjects = query.latest_subjects(count=1000) %}
        {% for subject in subjects %}
          {{ render_item(site, subject) }}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
