{% from "macros.j2" import render_links, render_social_icons %}

{% set nezu = query.config('nezu') %}

{% block foot_html %}
<footer class="foot{% if nezu and nezu.foot_nav %} dark{% endif %}">
  <div class="site-foot">
    <div class="site-foot_content">
      {% if nezu and nezu.foot_copy %}
      <div class="site-foot_copy">
        <span class="title">
          {{ nezu.foot_copy|safe }}
        </span>
        <div class="site-foot_social">
          {{ render_social_icons(site) }}
        </div>
      </div>
      {% else %}
      <div class="site-foot_home">
        {% if nezu and nezu.logo and nezu.logo.dark %}
          <a class="logo" {% if nezu.url%}href="{{ nezu.url }}"{% else %}href="/"{% endif%}>
            <img src="{{ nezu.logo.dark|thumbnail('s') }}" alt="{{ site.name }}" height="32" />
          </a>
        {% else %}
          <a class="title" href="/">
            {{ site.name }}
          </a>
        {% endif %}
        <div class="site-foot_social">
          {{ render_social_icons(site) }}
        </div>
      </div>
      {% endif %}
      {% if nezu and nezu.foot_nav %}
      <div class="site-foot_links">
        {{ render_links(nezu.foot_nav) }}
      </div>
      {% else %}
      <div class="site-foot_links">
        {% if false %}
          <a href="{{ linkify(site.list_url) }}">Archive</a>
        {% endif %}
        {% if site.posts_url and site.audios_url %}
          <a href="{{ linkify(site.posts_url) }}">Posts</a>
          <a href="{{ linkify(site.audios_url) }}">Episodes</a>
        {% endif %}
        {% if features.photo %}
          <a href="{{ linkify('/moments/') }}">Moments</a>
        {% endif %}
      </div>
      {% endif %}
    </div>
  </div>
  <div class="powered-by">
    <div class="container">
      Powered by <a href="https://typlog.com/?utm_source={{ site.slug }}&utm_media=theme-nezu">Typlog</a>
    </div>
  </div>
</footer>
{% if features.foot_html %}{{ features.foot_html|safe }}{% endif %}
{% endblock %}
