<div class="inner">
  <div class="info">
    <div class="info_main">
      {% if nezu and nezu.logo %}
        <a class="info_logo" {% if nezu.url%}href="{{ nezu.url }}"{% else %}href="/"{% endif%}>
          {% if nezu.logo.light %}
            <img class="light-logo" src="{{ nezu.logo.light|thumbnail('m') }}" alt="{{ site.name }}" height="64" />
          {% endif %}
          {% if nezu.logo.dark %}
            <img class="dark-logo" src="{{ nezu.logo.dark|thumbnail('m') }}" alt="{{ site.name }}" height="64" />
          {% endif %}
        </a>
      {% elif site.logo %}
        <a class="info_logo" href="{{ linkify('/') }}">
          <img src="{{ site.logo.src|thumbnail('m') }}" alt="{{ site.name }}" height="64">
        </a>
      {% else %}
        <h1 class="info_title"><a class="p-name" rel="me" href="{{ linkify('/') }}">{{ site.name }}</a></h1>
      {% endif %}
      {% if site.summary %}
        <div class="info_subtitle p-note">{{ site.summary }}</div>
      {% endif %}
      <div class="info_social">
        {% if features.subscriber and features.post %}
          <div class="info_subscribe">
            <button class="js-subscribe">Subscribe</button>
          </div>
        {% endif %}
        {{ render_social_icons(site, site.socials.email) }}
      </div>
    </div>
  </div>
</div>
