.entry-tags {
  margin: 1.6em 0 1.2em;
}
.entry-tags a {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  font-size: 14px;
  color: var(--nz-c-text-light);
  background: var(--nz-c-bg-weak);
  padding: 4px 0.8em;
  font-weight: 700;
}
.entry-tags a:before {
  content: '#';
  font-weight: 700;
  color: rgba(var(--nz-rc-invert), 0.25);
  margin-right: 2px;
}
.entry-tags a:hover {
  text-decoration: none;
  color: rgba(var(--nz-rc-base), 1);
  background: rgba(var(--nz-rc-invert), 1);
}
.entry-tags a:hover:before {
  color: rgba(var(--nz-rc-base), 0.5);
}
.entry-tags a + a {
  margin-left: 4px;
}
